// dropdown navigation
.show-dropnav {
	transform: translateY(0);
	opacity: 1;
}

// dropdownlist
.show-list {
	max-height: 350px !important;
	li {
		&.active {
			background: $theme_color;
			color: $primary_bg;
		}
	}
}

// profile events
.profile-events {
	&--item:hover {
		transform: scale(1.2);
		z-index: 999;
		box-shadow: -2px 2px 10px rgba($primary_bg, 45%);
		.content {
			opacity: 1;
		}
	}
}
