// dropdown navigation
.show-dropnav {
	transform: translateY(0);
	opacity: 1;
}

// dropdownlist
.show-list {
	max-height: 350px !important;
	li {
		&.active {
			background: $theme_color;
			color: $primary_bg;
		}
	}
}
