.btn {
	border-radius: 5px;
	background: darken($primary_bg, 25%);
	padding: em(5px);
	&-search {
		height: 45px;
		align-self: center;
		margin: auto em(10px);
		padding: em(10px) em(25px);
		background: $theme_color;
		color: $primary_bg;
	}
}
