doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel="stylesheet", href="../scss/main.scss")
		title EP
	body
	//- including mixins
	include template/mixins/_footer
	include template/mixins/_navigation
	block header
		include template/_header
	block content
	block footer
		+footer()
	block scripts
		script(src="../js/main.js")
