doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel="stylesheet", href="../scss/main.scss")
		title EP
	body
		block header
			header
				div.bg-layer
				nav#my-nav
					a(href="", class="logo")
						img(src="../images/logo.svg", alt="EP_LOGO")
					div.flex-right
						.notification
							button(class="notification-btn",data-target="subMenu")
								i.fa.fa-bell
							.sub-menu
								a(href="" class="notification-item")
									img(src="https://unsplash.it/50/50") 	
									div
										span Ashish
										p Aliquam tincidunt mauris eu risus.
								a(href="" class="notification-item")
									img(src="https://unsplash.it/50/50") 	
									div
										span Ashish
										p Aliquam tincidunt mauris eu risus.
								a(href="" class="notification-item")
									img(src="https://unsplash.it/50/50") 	
									div
										span Ashish
										p Aliquam tincidunt mauris eu risus.
										
						.dropdown-nav
							span(data-target="subMenu")
								img(src="https://unsplash.it/100/100", alt="User Image") 
								b Ashish 
								i.fa.fa-angle-down
							.sub-menu
								a(href="") 
									i.fa.fa-plus 
									| Add Event
								a(href="") 
									i.fa.fa-user 
									| Profile
								a(href="") 
									i.fa.fa-unlock 
									| Log out
							
							
				section#search-box
					.input-group
						label(for="category") Event Category
						input(type="text" name="category" class="trigger-list" value="" readonly)
						i.fa.fa-angle-down
						ul.dropdown-list
							li 1
							li 2
							li 3
							li 4
							li 5
							li.active 6
							li 7
							li 8
							li 9
							li 10
							li 11
							li 12
							li 13
							li 14
							li 15
					.input-group
						label Location
						input(type="text" name="location" value="Delhi,India")
						i.fa.fa-angle-down
					button(class="btn btn-search") Search
		block content
			h2 CONTENT
			p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.

Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl. Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna.

Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu pulvinar risus, vitae facilisis libero dolor a purus. Sed vel lacus. Mauris nibh felis, adipiscing varius, adipiscing in, lacinia vel, tellus. Suspendisse ac urna. Etiam pellentesque mauris ut lectus. Nunc tellus ante, mattis eget, gravida vitae, ultricies ac, leo. Integer leo pede, ornare a, lacinia eu, vulputate vel, nisl.

Suspendisse mauris. Fusce accumsan mollis eros. Pellentesque a diam sit amet mi ullamcorper vehicula. Integer adipiscing risus a sem. Nullam quis massa sit amet nibh viverra malesuada. Nunc sem lacus, accumsan quis, faucibus non, congue vel, arcu. Ut scelerisque hendrerit tellus. Integer sagittis. Vivamus a mauris eget arcu gravida tristique. Nunc iaculis mi in ante. Vivamus imperdiet nibh feugiat est.

Ut convallis, sem sit amet interdum consectetuer, odio augue aliquam leo, nec dapibus tortor nibh sed augue. Integer eu magna sit amet metus fermentum posuere. Morbi sit amet nulla sed dolor elementum imperdiet. Quisque fermentum. Cum sociis natoque penatibus et magnis xdis parturient montes, nascetur ridiculus mus. Pellentesque adipiscing eros ut libero. Ut condimentum mi vel tellus. Suspendisse laoreet. Fusce ut est sed dolor gravida convallis. Morbi vitae ante. Vivamus ultrices luctus nunc. Suspendisse et dolor. Etiam dignissim. Proin malesuada adipiscing lacus. Donec metus. Curabitur gravida
		block scripts
			script(src="../js/main.js")
