extends layout
block header
	+navigation
block content
	section#container
		.profile
			.profile-navigation
				a(href="" class="profile-navigation--item ")
					i.fa.fa-user
					| Info
				a(href="" class="profile-navigation--item active")
					i.fa.fa-umbrella
					| Events
				a(href="" class="profile-navigation--item")
					i.fa.fa-money
					| Wallet
				a(href="" class="profile-navigation--item")
					i.fa.fa-cog
					| Settings
			.profile-events
				.profile-events--item
					img(src="https://unsplash.it/500/500", alt="background-image")
					.content
						h2 BMIX
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem tempora consequuntur...
						span#action.fa.fa-ellipsis-v
				.profile-events--item
					img(src="https://unsplash.it/500/500", alt="background-image")
					.content
						h2 BMIX
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem tempora consequuntur...
						span#action.fa.fa-ellipsis-v
				.profile-events--item
					img(src="https://unsplash.it/500/500", alt="background-image")
					.content
						h2 BMIX
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem tempora consequuntur...
						span#action.fa.fa-ellipsis-v
				.profile-events--item
					img(src="https://unsplash.it/500/500", alt="background-image")
					.content
						h2 BMIX
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem tempora consequuntur...
						span#action.fa.fa-ellipsis-v
				.profile-events--item
					img(src="https://unsplash.it/500/500", alt="background-image")
					.content
						h2 BMIX
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem tempora consequuntur...
						span#action.fa.fa-ellipsis-v
				.profile-events--item
					img(src="https://unsplash.it/500/500", alt="background-image")
					.content
						h2 BMIX
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem tempora consequuntur...
						span#action.fa.fa-ellipsis-v
				.profile-events--item
					img(src="https://unsplash.it/500/500", alt="background-image")
					.content
						h2 BMIX
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem tempora consequuntur...
						span#action.fa.fa-ellipsis-v
				.profile-events--item
					img(src="https://unsplash.it/500/500", alt="background-image")
					.content
						h2 BMIX
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem tempora consequuntur...
						span#action.fa.fa-ellipsis-v
				.profile-events--item
					img(src="https://unsplash.it/500/500", alt="background-image")
					.content
						h2 BMIX
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem tempora consequuntur...
						span#action.fa.fa-ellipsis-v
			
block footer
	+footer(true)