header {
	.bg-layer {
		position: absolute;
		background: getVarValue(header-bg) no-repeat center;
		background-size: cover;
		@include WH();
		&:after {
			position: absolute;
			content: "";
			@include WH();
			left: 0;
			background: rgba(invert($primary_bg), 0.5);
		}
	}
}
